[Unit]
Description=SourceDigger Server

[Service]
Type=simple
ExecStart=/srv/sourcedigger/sourcedigger-server
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target