<div id="footer">
<a href="https://github.com/Wazzaps/SourceDigger/issues">Report a bug</a> &nbsp;&verbar;&nbsp; <a href="https://github.com/Wazzaps/SourceDigger">GitHub</a><br>
<p>Buy me coffee (<a href="https://github.com/sponsors/Wazzaps">Github Sponsors</a> &nbsp;|&nbsp; <a href="https://liberapay.com/wazzaps">Liberapay</a> &nbsp;|&nbsp; <a href="https://paypal.me/sourcedigger">PayPal</a> &nbsp;|&nbsp; <a href="https://payboxapp.page.link/MUKsLXLcdWMB71jJ9">PayBox</a>)</p>
</div>
