<div id="footer">
    <a href="https://github.com/Wazzaps/SourceDigger/issues">Report a bug</a> &nbsp;&verbar;&nbsp; <a href="https://github.com/Wazzaps/SourceDigger">GitHub</a> &nbsp;&verbar;&nbsp; <a href="https://payboxapp.page.link/MUKsLXLcdWMB71jJ9">Buy me coffee</a>
</div>